* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #6f30c1a8;
}

.wrapper {
    text-align: center;
    margin-top: 100px;
}

#year {
    padding: 3px 6px;
}

#message {
    margin-top: 10px;
}

button {
    cursor: pointer;
    padding: 3px 6px;
}
